<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
        <h2>WElcome to homepage by HTML</h2>
        <p>my name is {{name}}</p>
        <b> Bihari Devi weds Luhera</b>
    </body>
</html>
