*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: powderblue;
    
}

.header{
    color: red;
}

.logo-box{
    position: absolute;
    top: 30px;
    left: 40px;

}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    height: 40px;
    background-color: #fff;
}
.register-button{
    text-decoration: none;
    font-weight : bolder;
}
